* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
.contanier{
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  margin-top: 50px;
}
.contanier::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background-color: #ff9dcf;
}
.contanier .hero{
  position: relative;
  z-index: 10;
  height: 85vh;
  width: 75%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border: 3px solid #ff9dcf;
  border-radius: 20px;
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15) ;
  padding: 0 40px 0 80px;
  margin-left: 200px;

}
.hero nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
}
.hero nav .logo{
  color: #801f82;
  font-size: 45px;
  font-weight: bold;
}
.hero nav .nav-links a{
  color: #242424;
  margin-left: 40px;
  text-transform: capitalize;
  transition: 0.3s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active{
  color: #801f82;
}
.hero .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}
.hero .content .div-text{
  width: 40%;
}
.hero .content .div-text h1{
  margin-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.hero .content .div-text h2{
  color: #801f82;
  font-size: 24px;
  margin-bottom: 50px;
}
.hero .content .div-text p{
  color: #4f4f4f;
  margin-bottom: 50px;
  font-size: 15px;
}
.hero .content .div-text .btn{
  padding: 15px 20px;
  background-color: #801f82;
  border: 2px solid #801f82;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.hero .content .div-text .btn:hover{
  color: #801f82;
  transition: 0.3s;
  background-color: transparent;
}
.soc-link{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.soc-link a i{
  font-size: 25px;
  cursor: pointer;
  color: #801f82;
  margin-bottom: 20px;
  transition: 0.4s;
}
.soc-link a i:hover{
  color: #ff9dcf;
}

.hero .content .div-img{
  width: 100px;
  padding-right: 10px;
  margin-right: 300px;
}
.hero .content .div-img img{
  width: 500%;
}
/* animation */
.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn{
  position: relative;
  top: 50px;
  animation: slide-top .5s linear forwards;
  opacity: 0;
}
.hero .logo{
  animation-delay: 0.2s;
}
.hero .content .div-text h1{
  animation-delay: 0.5s; 
}
.hero .content .div-text h4{
  animation-delay: 0.9s;
}
.hero .content .div-text .btn{
  animation-delay: 1.8s;
}

@keyframes slide-top{
  0%{
       top: 50px;
       opacity: 0;
    }
  100%{
      top: 0;
      opacity: 1;
  }
}
.hero .content .div-text p{
  position: relative;
  left: 100px;
  animation: slide-right .5s linear forwards;
  animation-delay: 1.3s;
  opacity: 0;
}
@keyframes slide-right{
  0%{
    left: 100px;
    opacity: 0;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
.hero .content .div-img img{
  opacity: 0;
  transform: scale(0.8);
  animation: fade-img .5s linear forwards;
  animation-delay: 2.1s;
}
@keyframes fade-img{
  0%{
    opacity: 0;
    transform: scale(0.8);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
.span{
  color: var(--main-color);
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: #f9f9f9;
  height: 100vh;
  width: 100%;
}
.about-img img{
   width: 500px;
   height: 400px;
}
.about .heading{
  font-size: 40px;
  margin-bottom: 100px;
}
.about-content{
  text-align: left;
  line-height: 1.2;
}
.about-content h3{
  font-size: 25px;
}
.about-content p{
  font-size: 18px;
  margin: 2rem 0 3rem;
}
.about-content .btn{
  margin-top: 2rem;
  cursor: pointer;
  padding: 15px 20px;
  background-color: #801f82;
  border: 2px solid #801f82;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.about-content .btn:hover{
  color: #801f82;
  transition: 0.3s;
  background-color: transparent;
}
.projects{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #ff9dcf;
  height: 100vh;
  width: 100%;
}
.projects .project-container{
  float:left;
  width: 50%;
  padding: 5px;
  display: contents;
}
.projects .heading{
  text-align: center;
  font-size: 40px;
  margin-bottom: 600px;

}
.contact h2{
  margin-bottom: 3rem;
  text-align: center;
  font-size: 40px;
}
.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
  padding: 15px 20px;
  background-color: #801f82;
  border: 2px solid #801f82;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.contact form .btn:hover{
  color: #801f82;
  transition: 0.3s;
  background-color: transparent;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #801f82;
}
.footer-text p{
  font-size: 20px;
  color: white;

}